::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #189c87;
  /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #107161;
}

#heroBack {
  background-image: url("/dark.svg");
  background-position: -460px -647px;
  background-repeat: repeat-y;
}

.customHeroImg {
  /* width: 90%; */
}

#pcMenu {
  display: block;
}
#phoneMenu {
  display: none;
}

@media only screen and (max-width: 500px) {
  #pcMenu {
    display: none;
  }
  #phoneMenu {
    display: block;
  }
  #formDisplay {
    display: none;
  }
}

@media only screen and (max-width: 1485px) {
  #searchInp {
    display: none;
  }
}

#splineStyleMax {
  height: 700px;
  width: 700px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: #101010;
  border-color: #101010;
  background: rgb(237, 237, 237);
}

.pagination button.active {
  font-weight: 900;
  border-color: #101010;
  background: #189c87;
  color: #eee;
}
